.table {
    color: white;
    font-size: 16px;

}

.name {
    width: 80%;
    display: block;
    text-align: center;
    margin: auto auto 3em;
}

.table_wrap {
    display: block;
    margin-inline: auto;
    max-height: 60vh;
    overflow: auto;
    width: 80%;
    border-radius: 8px;
}
.table_wrap::-webkit-scrollbar {
    width: 7px; /* Mostly for vertical scrollbars */
    height: 10px;
}
.table_wrap::-webkit-scrollbar-thumb { /* Foreground */
    background: #999;
    border-radius: 10px;
}
.table_wrap::-webkit-scrollbar-track { /* Background */
    background: #333;
}

.table_wrap table {
    background-color: #343a40;
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

.table_header th {
    border: none;
    padding: 20px 30px;
    border-bottom: 4px solid #2b3035;
    text-align: left;
}

.table_body td {
    border: none;
    padding: 20px 30px;
    border-bottom: 3px solid #2b3035;

}

.table_body tr:hover {
    background-color: rgba(255,255,255,.075);
}
.table_body tr {
    transition: 0.5s;
}